section.banner-wrap
	.home-banner.banner
		.item
			.img
				img(src="img/banner/1.jpg", alt="")
			.caption It's not about the destination it's about the journey
		.item
			.img
				img(src="img/banner/2.jpg", alt="")
			.caption Stress Less, Travel more
		.item
			.img
				img(src="img/banner/3.jpg", alt="")
			.caption Don't listen to stories, tell the stories
		.item
			.img
				img(src="img/banner/4.jpg", alt="")
			.caption Salt water heals everything
		.item
			.img
				img(src="img/banner/5.jpg", alt="")
			.caption What you image about your trip, we make it real