footer
	.hotline
		a(href="tel:") <i class="fa fa-phone" aria-hidden="true"></i>
	.container
		section.footer-top
			.footer-title.text-center ANCIENT ORIENT JOURNEY
			.footer-des.text-center We go the extra mile so GO WITH HAPPINESS. Have a memorable holiday!!!
			.row.justify-content-around
				.col-auto
					section.footer-col
						.title Destination
						nav.footer-link
							a(href="#!") Vietnam
							a(href="#!") Laos
							a(href="#!") Cambodia
							a(href="#!") Myanmar
				.col-auto
					section.footer-col
						.title Travel style
						nav.footer-link
							a(href="#!") Classic tours
							a(href="#!") Heritage
							a(href="#!") Specialist tours
							a(href="#!") Adventure & activity
							a(href="#!") Cruising tours
							a(href="#!") Beachaholic
				.col-auto
					section.footer-col
						.title Quick link
						nav.footer-link
							a(href="#!") Testimonials
							a(href="#!") Contact us
							a(href="#!") FAQs
							a(href="#!") Gallery
				.col-auto
					section.footer-col
						.title Social
						nav.footer-link
							a(href="#!") Facebook
							a(href="#!") Twitter
							a(href="#!") Instagram
							a(href="#!") Flick
		section.footer-bottom
			.col-left
				.copyright © 2018 Ancient Orient Journeys | Designed by Canhcam
				.contact-info
					ul
						li Phone: 
							a(href="tel:(+84) 8 6681 4616") (+84) 8 6681 4616
						li Hotline in USA: 
							a(href="tel:(323) 892-0546") (323) 892-0546
						li Fax: (08) 6681 4616
						li Address: 85/2 Quang Trung Street, Ward 10, Go Vap District, Ho Chi Minh City
						li Email: 
							a(href="mailto:info@aojourneys.com") info@aojourneys.com
						li License number: 79-622/2016/TCDL-GPLHQT
			nav.footer-nav
				a(href="#!")
					img(src="img/trip.png", alt="")
				a(href="#!")
					img(src="img/asta.png", alt="")