section.breadcrumb-wrap
	.breadcrumb-img(style="background:url(img/breadcrumb/8.jpg) no-repeat center center;background-size: cover")
	.container
		h1.pagename
		ol.breadcrumb
			li
				a(href="#!")
					span Home
			li
				a(href="#!")
					span About Us
nav.top-nav
	ul
		li
			a(href="#section1") Introduction
		li
			a(href="#section2") Why choose us
		li
			a(href="#section3") Meet the AOJ Team
section#section1.about-section
	.container
		h1.home-title.text-center Introduction
		.about-content.content
			.row
				.col-12.col-lg-6
					h4.text-bold “An Substantial Experiences from a group traveling with us! ”
					p This was more a travel experience than a holiday with a sense of adventure as none of our group of eight from Bournemouth U3A had been to Vietnam apart from me.  That was four years ago in 2010 based on a self-designed tour using, as a leap of faith, a travel company based in Hanoi and Chi Minh City.
					p In exploring their website and after initial contact I thought here was a tour operator I could trust.  My contact was tour manager Vinh who patiently produced drafts of a complex itinerary, adding helpful suggestions, until I was satisfied with every aspect.  Fine so far but the ultimate test was the reality of our travel experience and not the promises made.  From the exchange of emails and tour details I was confident and my optimism was rewarded.  Vinh far exceeded my picky expectations and that was the case too with this larger group for our sixteen days tour.    
				.col-12.col-lg-6
					.about-img
						img(src="img/about/img1.jpg", alt="")
				.col-12.col-lg-7
					.about-img2
						.row
							.col-6
								.img
									img(src="img/about/img2.jpg", alt="")
								.img
									img(src="img/about/img3.jpg", alt="")
							.col-6
								.img
									img(src="img/about/img4.jpg", alt="")
				.col-12.col-lg-5
					p Since writing this journal in March 2014 a further group tour has been arranged for fifteen people and an individually tailored tour of Vietnam for a personal friend.  His tour of 41 days will be not only memorable but the ultimate travel experience.  It owes more to the journeys of Paul Theroux than travel guides. Not only is there the opportunity to observe but participate which was important for our group tour also.
					p Whether visiting schools, cooking, staying with families or having a ‘jam session’ in the evening playing home-made stringed and percussion instruments, the choice is yours.  The list is endless.  Many may opt for Vinh’s special range of bespoke tours or a customised group tour whilst others may wish to personalise these even more.
					p Whatever you decide Ancient Orient Journeys guarantees a superb travel experience and exceptional value for money under the expertise of Vinh and his team. 
section#section2.about-section.about-section2
	.about-bg(style="background:url(img/about/bg1.jpg) center center no-repeat;background-size: cover")
	.container
		.about-content
			h2.home-title.text-center Why Choose Us
			.page-des.text-center Feel the pulse of Asia and enjoy a memorable travel experience – with a dynamic Asian company dedicated to service, quality and value
			.about-feature
				.row
					.col-12.col-lg-4
						.feature
							figure
								.feature-icon
									img(src="img/about/f1.png", alt="")
								figcaption
									.feature-name A unique holiday – personally for you:
									.feature-des
										ul
											li Explore your preferences and special interests at your own speed. Say where you wish to visit.  Tell us the activities you want to do.  Need more ideas or our advice?  No   problem.  Your tour specialist will design a trip perfect for you.
											li Experience the privacy and flexibility of a custom made tour, maybe with your own group.  Travel with people you know well.  Relax and let us do the work.
											li Select your preference.  Choose from 3* hotels to luxury 5* and from simple and modern to boutique or unique style and mid to top range.  You decide.
											li Enjoy an authentic and unique travel experience, blended to your own taste, interests, preferences and duration.    
					.col-12.col-lg-4
						.feature
							figure
								.feature-icon
									img(src="img/about/f1.png", alt="")
								figcaption
									.feature-name A unique holiday – personally for you:
									.feature-des
										ul
											li Explore your preferences and special interests at your own speed. Say where you wish to visit.  Tell us the activities you want to do.  Need more ideas or our advice?  No   problem.  Your tour specialist will design a trip perfect for you.
											li Experience the privacy and flexibility of a custom made tour, maybe with your own group.  Travel with people you know well.  Relax and let us do the work.
											li Select your preference.  Choose from 3* hotels to luxury 5* and from simple and modern to boutique or unique style and mid to top range.  You decide.
											li Enjoy an authentic and unique travel experience, blended to your own taste, interests, preferences and duration.    
					.col-12.col-lg-4
						.feature
							figure
								.feature-icon
									img(src="img/about/f1.png", alt="")
								figcaption
									.feature-name A unique holiday – personally for you:
									.feature-des
										ul
											li Explore your preferences and special interests at your own speed. Say where you wish to visit.  Tell us the activities you want to do.  Need more ideas or our advice?  No   problem.  Your tour specialist will design a trip perfect for you.
											li Experience the privacy and flexibility of a custom made tour, maybe with your own group.  Travel with people you know well.  Relax and let us do the work.
											li Select your preference.  Choose from 3* hotels to luxury 5* and from simple and modern to boutique or unique style and mid to top range.  You decide.
											li Enjoy an authentic and unique travel experience, blended to your own taste, interests, preferences and duration.    
section#section3.about-section.about-section3
	.container
		h2.home-title.text-center Meet the AOJ Team
		.page-des.text-center Choose your journey of discovery with Ancient Orient Journeys to make your dreams come true!!! Ancient Orient Journeys specializes in tailored tours to the former Indochina countries of Vietnam, Cambodia and Laos and Thailand too.
		.about-team
			.team
				figure
					.team-img
						img(src="img/about/t1.jpg", alt="")
					figcaption
						.about-content.content
							h4.text-bold Our Concept
							p Vinh & Trang, co-founders, comment “the creation of AOJ is our dream and passion.”  Steeped in the travel sector we designed and managed tours for other companies.  We both felt a better approach was needed – the AOJ way, not their way.  Our philosophy is “ go with happiness” that means superb design and terrific service for a unique travel experience.  A healthy, happy life is in our hearts.  A fantastic trip enriches all our lives.
							p Another passion is client value that is also dear to the heart of Stuart, our consultant.  We all believe in the client value chain from design to delivery so all parts fit together really well.   Our young team excels at this.  We have wide experience, not only in travel but hospitality, from Indo-China to Australia and the UK with strong USA connections also.
			.team
				figure
					.team-img
						img(src="img/about/t2.jpg", alt="")
					figcaption
						.about-content.content
							h4.text-bold Our Brief Story
							Sp ays Stuart, six years ago I organized a group tour to Vietnam.  I did not want to use a UK high street travel agent.  My aim was to find a local operator.  Not only would they have greater expertise and knowledge but were likely to be much more in tune with the pulse and culture of the country, and its people.  
							p I said to the group this will be a leap of faith even though I will do my homework.  My contact was the reliable Vinh, solid as a rock and with unlimited 
							p patience until the tour details were spot-on.  Since then I have organized other group tours and trips for friends.  
							p Then one day Vinh said my dream is my own travel company that will specialize in unique and customized tours.  The concept of AOJ was born.  AOJ is living out its motto.  So go with happiness to live your own dreams!  
		h3.small-title.text-center Our People
		.page-des.text-center Customer delight, not just satisfaction, is our top priority. 
		.member-list
			.item
				.member
					figure
						.member-img
							img(src="img/about/m1.jpg", alt="")
						figcaption
							.member-name Vinh
							.member-cv Marketing & Sales/Owner
							.member-des My priorities are designing fantastic and personalized tours & trips, selecting our own travel partners and suppliers and inspiring fresh ideas.
			.item
				.member
					figure
						.member-img
							img(src="img/about/m1.jpg", alt="")
						figcaption
							.member-name Vinh
							.member-cv Marketing & Sales/Owner
							.member-des My priorities are designing fantastic and personalized tours & trips, selecting our own travel partners and suppliers and inspiring fresh ideas.
			.item
				.member
					figure
						.member-img
							img(src="img/about/m1.jpg", alt="")
						figcaption
							.member-name Vinh
							.member-cv Marketing & Sales/Owner
							.member-des My priorities are designing fantastic and personalized tours & trips, selecting our own travel partners and suppliers and inspiring fresh ideas.
			.item
				.member
					figure
						.member-img
							img(src="img/about/m1.jpg", alt="")
						figcaption
							.member-name Vinh
							.member-cv Marketing & Sales/Owner
							.member-des My priorities are designing fantastic and personalized tours & trips, selecting our own travel partners and suppliers and inspiring fresh ideas.