section.breadcrumb-wrap
	.breadcrumb-img(style="background:url(img/breadcrumb/2.jpg) no-repeat center center;background-size: cover")
	.container
		h1.pagename
		ol.breadcrumb
			li
				a(href="#!")
					span Home
			li
				a(href="#!")
					span Contact
section.contact-page
	.container
		#map.contact-map
			iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.6574365094675!2d106.65273531538395!3d10.837505992280066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529a051d8b2cf%3A0x92698121ad608cb6!2zV2FyZCAxMCwgODUvMiBRdWFuZyBUcnVuZywgcGjGsOG7nW5nIDgsIEfDsiBW4bqlcCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1522728558460', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='')
		.row
			.col-12.col-lg-4.col-xl-3
				.contact-info
					ul
						li <i class="fa fa-map-marker" aria-hidden="true"></i>Address: 85/2 Quang Trung Street, Ward 10, Go Vap District, Ho Chi Minh City
						li <i class="fa fa-phone" aria-hidden="true"></i>Phone: (+84) 8 6681 4616
						li <i class="fa fa-volume-control-phone" aria-hidden="true"></i>Hotline in USA: (323) 892-0546
						li <i class="fa fa-fax" aria-hidden="true"></i>Fax: (08) 6681 4616
						li <i class="fa fa-envelope" aria-hidden="true"></i>Email: info@aojourneys.com
			.col-12.col-lg-8.col-xl-9
				.contact-form
					h2.home-title Get in touch
					.module-title Phasellus non pretium velit. Donec facilisis dapibus metus et mollis. Quisque non ligula turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean varius ante dolor, id aliquet tortor ullamcorper luctus.
					.form-wrap
						.form-row
							.form-group.col-12.col-md-6
								label Name
								input(type="text")
							.form-group.col-12.col-md-6
								label Email
								input(type="text")
							.form-group.col-12.col-md-6
								label Phone
								input(type="text")
							.form-group.col-12.col-md-6
								label Subject
								input(type="text")
							.form-group.col-12
								label Message
								textarea(name="", cols="30", rows=4)
							.frm-btn
								input(type="submit", value="Send now")