section.breadcrumb-wrap
	.breadcrumb-img(style="background:url(img/breadcrumb/2.jpg) no-repeat center center;background-size: cover")
	.container
		h1.pagename
		ol.breadcrumb
			li
				a(href="#!")
					span Home
			li
				a(href="#!")
					span Destination
//- section.home-welcome.s2
	.container
		.row
			.col-12.col-lg-6.col-xl-7
				h1.home-title Welcome to Ancient Orient Journeys
				.content
					p A very warm welcome to Ancient Orient Journeys! We are a young and vibrant Asian travel company with a difference. Our travel market is the former Orient of Indo-China. We are tour specialists for Vietnam, Cambodia, Laos and Thailand. You deal and book direct with our head office in Ho Chi Minh City. If you need more information, our UK office will be delighted to assist.
		.welcome-img
			img(src="img/home/img1.png", alt="")
//- section.home-country.s2
	//- .container
	.country-list
		.row.no-gutters
			.col-12.col-md-6.col-lg-4
				a.country(href="#!" style="background:url(img/home/place1.jpg) center center no-repeat;background-size: cover")
					figure
						.country-icon
							img(src="img/home/c1.png", alt="")
						figcaption
							h3.country-name Vietnam
			.col-12.col-md-6.col-lg-4
				a.country(href="#!" style="background:url(img/home/place2.jpg) center center no-repeat;background-size: cover")
					figure
						.country-icon
							img(src="img/home/c2.png", alt="")
						figcaption
							h3.country-name Laos
			.col-12.col-md-6.col-lg-4
				a.country(href="#!" style="background:url(img/home/place3.jpg) center center no-repeat;background-size: cover")
					figure
						.country-icon
							img(src="img/home/c3.png", alt="")
						figcaption
							h3.country-name Cambodia
			.col-12.col-md-6.col-lg-4
				a.country(href="#!" style="background:url(img/home/place4.jpg) center center no-repeat;background-size: cover")
					figure
						.country-icon
							img(src="img/home/c4.png", alt="")
						figcaption
							h3.country-name Myanmar
			.col-12.col-md-12.col-lg-8
				a.country(href="#!" style="background:url(img/home/place5.jpg) center center no-repeat;background-size: cover")
					figure
						.country-icon
							img(src="img/home/c5.png", alt="")
						figcaption
							h3.country-name Multi Country
section.product-page.product-page-wrap
	.container
		.place-list
			.row.no-gutters
				article.col-12.col-md-12.col-lg-8
					.place-intro
						.home-title Welcome to Ancient Orient Journeys
						.place-content A very warm welcome to Ancient Orient Journeys! We are a young and vibrant Asian travel company with a difference. Our travel market is the former Orient of Indo-China. We are tour specialists for Vietnam, Cambodia, Laos and Thailand. You deal and book direct with our head office in Ho Chi Minh City. If you need more information, our UK office will be delighted to assist.
				article.col-12.col-md-6.col-lg-4
					a.place(href="#!")
						figure
							.place-img(style="background: url(img/place/vietnam.jpg) no-repeat center center;background-size: cover")
							figcaption
								h3.place-name Viet Nam
								.place-des 14 tours
				article.col-12.col-md-6.col-lg-4
					a.place(href="#!")
						figure
							.place-img(style="background: url(img/place/laos.jpg) no-repeat center center;background-size: cover")
							figcaption
								h3.place-name Laos
								.place-des 14 tours
				article.col-12.col-md-6.col-lg-4
					a.place(href="#!")
						figure
							.place-img(style="background: url(img/place/cambodia.jpg) no-repeat center center;background-size: cover")
							figcaption
								h3.place-name Cambodia
								.place-des 14 tours
				article.col-12.col-md-6.col-lg-4
					a.place(href="#!")
						figure
							.place-img(style="background: url(img/place/myanmar.jpg) no-repeat center center;background-size: cover")
							figcaption
								h3.place-name Myanmar
								.place-des 14 tours
				article.col-12.col-md-6.col-lg-4
					a.place(href="#!")
						figure
							.place-img(style="background: url(img/home/place5.jpg) no-repeat center center;background-size: cover")
							figcaption
								h3.place-name Multi Country
							.place-des 