section.banner-wrap
	.page-banner
		.item
			.img
				img(src="img/vietnam/bn1.jpg", alt="")
		.item
			.img
				img(src="img/vietnam/bn2.jpg", alt="")
		.item
			.img
				img(src="img/vietnam/bn3.jpg", alt="")
		.item
			.img
				img(src="img/vietnam/bn4.jpg", alt="")
	.page-name-wrap
		.container
			h1.page-name Ha Noi
			.page-des 6 tours
section.product-page
	.container
		.intro-country
			.content
				p Hanoi is the capital of Vietnam and the country's second largest city is known for its centuries-old architecture and a rich culture with Southeast Asian, Chinese and French influences. Hanoi is located in northern region of Vietnam, situated in the Vietnam’s Red River delta. As the capital of Vietnam for almost a thousand years, Hanoi is considered one of the main cultural centers of Vietnam.
				.row
					.col-12.col-md-6
						h4.text-orange <i class="material-icons">lightbulb_outline</i> 
							strong Highlights:
						ul
							li Hanoi is a very picturesque city, the leafy metropolis sometimes dubbed the "Paris of Asia." With its tree-fringed boulevards, more than two dozen lakes and thousands of French colonial-era buildings, Hanoi is a popular tourist attraction and one of only a few Asian capitals to retain its historic charm amid rapid modernization and population growth.
							li In 2015, Hanoi ranks #4 in Trip Advisor's list of the World's Best Destinations (Travellers' Choice).
					.col-12.col-md-6
						h4.text-orange <i class="material-icons">wb_sunny</i> 
							strong Weather:
						ul
							li Hanoi and North Vietnam has a distinct winter and summer season. The cool but mostly dry winter lasts from November to April when temperatures average 17-22°C with the coldest months being January - March. 
							li Summer lasts from May to October when it is hot and humid and the region experiences its highest rainfall. July to September is often the wettest months of the year. 
				.album
					.row.no-gutters
						.col-6.col-md-3
							a.album-img(href="img/dest/1.jpg" data-fancybox="album1" style="background: url(img/dest/1.jpg) center center no-repeat;background-size: cover")
						.col-6.col-md-3
							a.album-img(href="img/dest/1a.jpg" data-fancybox="album1" style="background: url(img/dest/1a.jpg) center center no-repeat;background-size: cover")
						.col-6.col-md-3
							a.album-img(href="img/dest/1b.jpg" data-fancybox="album1" style="background: url(img/dest/1b.jpg) center center no-repeat;background-size: cover")
						.col-6.col-md-3
							a.album-img(href="img/dest/1c.jpg" data-fancybox="album1" style="background: url(img/dest/1c.jpg) center center no-repeat;background-size: cover")
						.col-6.col-md-3
							a.album-img(href="img/dest/2.jpg" data-fancybox="album1" style="background: url(img/dest/2.jpg) center center no-repeat;background-size: cover")
						.col-6.col-md-3
							a.album-img(href="img/dest/2a.jpg" data-fancybox="album1" style="background: url(img/dest/2a.jpg) center center no-repeat;background-size: cover")
						.col-6.col-md-3
							a.album-img(href="img/dest/2b.jpg" data-fancybox="album1" style="background: url(img/dest/2b.jpg) center center no-repeat;background-size: cover")
						.col-6.col-md-3
							a.album-img(href="img/dest/4c.jpg" data-fancybox="album1" style="background: url(img/dest/4c.jpg) center center no-repeat;background-size: cover")
				h4.text-orange <i class="material-icons">star_border</i> 
					strong Best time to visit:
				p March to June, September to December.
				p Getting there
				p Most people arrive at the Noi Bai International Airport (HAN), 35 km (45-60 minutes) north of the city. Hanoi has fewer direct international flights than HCMC, but with a change of aircraft in Hong Kong, Bangkok, Singapore or Kuala Lumpur you can get to the city with different airlines. Vietnam Airlines remain the main carriers of domestic flights and many international flights. Some budget airlines also have frequent flights in and out of Hanoi, such as AirAsia (to Thailand and Malaysia), Tiger Air (to Singapore).
				p From North America, most indirect flights have a transit in either Hongkong, Tokyo, Osaka or Seoul.
				p From Europe, there might be transits in Paris, Hongkong, or Moscow, depending on your starting points.
				p Trains from Nanning, China arrive at Gia Lam Station, about 5km north-east of Hanoi Station. When your'e already in Vietnam, you might consider a train experience from Ho Chi Minh City, Nha Trang, Danang, Hue, Dong Hoi or from Sapa in the northwest of Vietnam. All other trains use the main Hanoi train station (Ga Hang Co, 120 Le Duan, for daily services from cities. The Reunification Express goes all the way from/to Ho Chi Minh City, although there is very little 'express' about it.
			.share Share
				a.fa.fa-facebook(href="#!")
				a.fa.fa-twitter(href="#!")
				a.fa.fa-google-plus(href="#!")
				a.fa.fa-youtube-play(href="#!")
		.tour-list2
			.row
				article.col-12.col-md-6.col-lg-4
					.tour
						figure
							a.tour-img(href="#!" style="background: url(img/hanoi/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.tour-name Ha Noi - Cooking Class one day
								.tour-des Ho Hoan Kiem - Ha Noi
								.tour-btn
									a.link(href="#!") Chi tiết
				article.col-12.col-md-6.col-lg-4
					.tour
						figure
							a.tour-img(href="#!" style="background: url(img/hanoi/2.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.tour-name Ha Noi - Cooking Class
								.tour-des Den Hung - Ha Noi
								.tour-btn
									a.link(href="#!") Chi tiết
				article.col-12.col-md-6.col-lg-4
					.tour
						figure
							a.tour-img(href="#!" style="background: url(img/hanoi/3.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.tour-name Ha Noi - A Glimpse
								.tour-des Ho Guom - Ha Noi
								.tour-btn
									a.link(href="#!") Chi tiết
				article.col-12.col-md-6.col-lg-4
					.tour
						figure
							a.tour-img(href="#!" style="background: url(img/hanoi/4.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.tour-name Ha Noi - Street food and fun by bike
								.tour-des Ho Tay - Ha Noi
								.tour-btn
									a.link(href="#!") Chi tiết
				article.col-12.col-md-6.col-lg-4
					.tour
						figure
							a.tour-img(href="#!" style="background: url(img/hanoi/5.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.tour-name Ha Noi - travel around
								.tour-des Van Mieu - Ha Noi
								.tour-btn
									a.link(href="#!") Chi tiết
				article.col-12.col-md-6.col-lg-4
					.tour
						figure
							a.tour-img(href="#!" style="background: url(img/hanoi/6.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.tour-name Ha Noi - make cake
								.tour-des Pho di bo - Ha Noi
								.tour-btn
									a.link(href="#!") Chi tiết
	.other-place
		.place-list
			.row.no-gutters
				article.col-12.col-md-6.col-lg-4.col-xl
					a.place(href="#!")
						figure
							.place-img(style="background: url(img/place/vietnam.jpg) no-repeat center center;background-size: cover")
							figcaption
								h3.place-name Ha Noi
								.place-des 5 tours
				article.col-12.col-md-6.col-lg-4.col-xl
					a.place(href="#!")
						figure
							.place-img(style="background: url(img/place/laos.jpg) no-repeat center center;background-size: cover")
							figcaption
								h3.place-name Hue
								.place-des 17 tours
				article.col-12.col-md-6.col-lg-4.col-xl
					a.place(href="#!")
						figure
							.place-img(style="background: url(img/place/cambodia.jpg) no-repeat center center;background-size: cover")
							figcaption
								h3.place-name Ho Chi Minh City
								.place-des 14 tours
				article.col-12.col-md-6.col-lg-6.col-xl
					a.place(href="#!")
						figure
							.place-img(style="background: url(img/place/myanmar.jpg) no-repeat center center;background-size: cover")
							figcaption
								h3.place-name Da Nang
								.place-des 6 tours
				article.col-12.col-md-6.col-lg-6.col-xl
					a.place(href="#!")
						figure
							.place-img(style="background: url(img/place/myanmar.jpg) no-repeat center center;background-size: cover")
							figcaption
								h3.place-name Da Lat
								.place-des 4 tours