section.banner-wrap
	.page-banner
		.item
			.img
				img(src="img/vietnam/bn1.jpg", alt="")
		.item
			.img
				img(src="img/vietnam/bn2.jpg", alt="")
		.item
			.img
				img(src="img/vietnam/bn3.jpg", alt="")
		.item
			.img
				img(src="img/vietnam/bn4.jpg", alt="")
	.page-name-wrap
		.container
			h1.page-name Viet Nam
			.page-des 14 tours
section.product-page
	.container
		.intro-country
			.content
				p 
					strong There simply is no way to tour Europe and not be awestruck by its scenic beauty, epic history and dazzling artistic and culinary diversity. 
				.row
					.col-12.col-xl-3
						figure
							img.img-100(src="img/vietnam/img1.jpg", alt="")
					.col-12.col-xl-9
						p Europe’s almost unmanageable wealth of attractions is its biggest single draw: the birthplace of democracy in Athens, the Renaissance art of Florence, the graceful canals of Venice, the Napoleonic splendour of Paris, and the multilayered historical and cultural canvas of London. Less obvious but no less impressive attractions include Moorish palaces in Andalucía, the fascinating East-meets-West brew of İstanbul in Turkey, the majesty of meticulously restored imperial palaces in Russia’s former capital St Petersburg and the ongoing project of Gaudí’s La Sagrada Família in Barcelona.
						p There’s a huge diversity of natural scenery: rugged Scottish Highlands with glens and lochs; Norway’s fabulous fjords, seemingly chipped to jagged perfection by giants; the vine-raked valleys of the Loire; and the steppe-like plains of central Spain. If you’re looking for beaches, a circuit of the Mediterranean’s northern coast reveals one gem after another. Or strike out to lesser known, yet beautiful coastal regions such as the Baltic and Black Seas. Mountain lovers should head to the Alps: they march across central Europe taking in France, Switzerland, Austria, northern Italy and tiny Liechtenstein.
						p Europe has some of the best nightlife in the world. Globally famous DJs keep the party going in London, Berlin and Paris, all of which also offer top-class entertainment, especially theatre and live music. Other key locations for high-energy nightlife include Moscow, Belgrade, Budapest and Madrid, while those hankering for something cosier can add Dublin’s pubs or Vienna’s cafes to their itinerary. Continue to party on the continent’s streets at a multiplicity of festivals and celebrations, from city parades attended by hundreds of thousands to intimate concerts in an ancient amphitheatre.
				p Once you’ve ticked off the great museums, panoramic vistas and energetic nightlife, what’s left? A chance to indulge in a culinary adventure to beat all others, that’s what! Who wouldn’t want to snack on pizza in Naples, souvlaki in Santorini or even haggis in Scotland? But did you also know that Britain has some of the best Indian restaurants in the world; that Turkey’s doner kebab is a key part of contemporary German food culture; and that in the Netherlands you can gorge on an Indonesian 
			.share Share
				a.fa.fa-facebook(href="#!")
				a.fa.fa-twitter(href="#!")
				a.fa.fa-google-plus(href="#!")
				a.fa.fa-youtube-play(href="#!")
		.destination-list
			.row.no-gutters
				.col-12.col-md-6.col-lg-4
					a.destination(href="#!")
						figure
							.destination-img(style="background: url(img/dest/1.jpg) no-repeat center center;background-size: cover")
							figcaption
								.destination-name Ha Noi
								.destination-des "Head for a swim and relax on the warm, golden sand. Life's a beach!"
					.tour-list
						a.tour(href="#!")
							figure
								.tour-img(style="background: url(img/dest/1a.jpg) no-repeat center center;background-size: cover")
								figcaption
									h3.tour-name Ha Noi - Cooking Class one day
									.tour-des Ho Guom - Ha Noi
						a.tour(href="#!")
							figure
								.tour-img(style="background: url(img/dest/1b.jpg) no-repeat center center;background-size: cover")
								figcaption
									h3.tour-name Ha Noi A Glimpse in one day
									.tour-des Ho Guom - Ha Noi
						a.tour(href="#!")
							figure
								.tour-img(style="background: url(img/dest/1c.jpg) no-repeat center center;background-size: cover")
								figcaption
									h3.tour-name Ha Noi - Street Food and fun by Bike one day
									.tour-des Ho Guom - Ha Noi
				.col-12.col-md-6.col-lg-4
					a.destination(href="#!")
						figure
							.destination-img(style="background: url(img/dest/2.jpg) no-repeat center center;background-size: cover")
							figcaption
								.destination-name Ha Long
								.destination-des "Head for a swim and relax on the warm, golden sand. Life's a beach!"
					.tour-list
						a.tour(href="#!")
							figure
								.tour-img(style="background: url(img/dest/2a.jpg) no-repeat center center;background-size: cover")
								figcaption
									h3.tour-name Ha Long Bay by La Vela Junk 2 days
									.tour-des Ha Long - Quang Ninh
						a.tour(href="#!")
							figure
								.tour-img(style="background: url(img/dest/2b.jpg) no-repeat center center;background-size: cover")
								figcaption
									h3.tour-name Ha Long Bay by Princess 2 days
									.tour-des Ha Long - Quang Ninh
						a.tour(href="#!")
							figure
								.tour-img(style="background: url(img/dest/2c.jpg) no-repeat center center;background-size: cover")
								figcaption
									h3.tour-name Ha Long Bay discovery by Indochina Sails Junk (2 days)
									.tour-des Ha Long - Quang Ninh
				.col-12.col-md-6.col-lg-4
					a.destination(href="#!")
						figure
							.destination-img(style="background: url(img/dest/3.jpg) no-repeat center center;background-size: cover")
							figcaption
								.destination-name Hue
								.destination-des "Head for a swim and relax on the warm, golden sand. Life's a beach!"
					.tour-list
						a.tour(href="#!")
							figure
								.tour-img(style="background: url(img/dest/3a.jpg) no-repeat center center;background-size: cover")
								figcaption
									h3.tour-name Come to the Ancient Village 1 day
									.tour-des Hue
						a.tour(href="#!")
							figure
								.tour-img(style="background: url(img/dest/3b.jpg) no-repeat center center;background-size: cover")
								figcaption
									h3.tour-name A Bike to the Local Life
									.tour-des Hue
						a.tour(href="#!")
							figure
								.tour-img(style="background: url(img/dest/3c.jpg) no-repeat center center;background-size: cover")
								figcaption
									h3.tour-name Hue tour - a deep look 1 day
									.tour-des Hue