section.home-country
	.country-list
		.row.no-gutters
			.col-12.col-md-6.col-lg-4
				a.country(href="#!" style="background:url(img/home/place1.jpg) center center no-repeat;background-size: cover")
					figure
						.country-icon
							img(src="img/home/c1.png", alt="")
						figcaption
							h3.country-name Vietnam
			.col-12.col-md-6.col-lg-4
				a.country(href="#!" style="background:url(img/home/place2.jpg) center center no-repeat;background-size: cover")
					figure
						.country-icon
							img(src="img/home/c2.png", alt="")
						figcaption
							h3.country-name Laos
			.col-12.col-md-6.col-lg-4
				a.country(href="#!" style="background:url(img/home/place3.jpg) center center no-repeat;background-size: cover")
					figure
						.country-icon
							img(src="img/home/c3.png", alt="")
						figcaption
							h3.country-name Cambodia
			.col-12.col-md-6.col-lg-4
				a.country(href="#!" style="background:url(img/home/place4.jpg) center center no-repeat;background-size: cover")
					figure
						.country-icon
							img(src="img/home/c4.png", alt="")
						figcaption
							h3.country-name Myanmar
			.col-12.col-md-12.col-lg-8
				a.country(href="#!" style="background:url(img/home/place5.jpg) center center no-repeat;background-size: cover")
					figure
						.country-icon
							img(src="img/home/c5.png", alt="")
						figcaption
							h3.country-name Multi Country
section.home-welcome
	.container
		.row
			.col-12.col-lg-7.col-xl-7
				h1.home-title Welcome to Ancient Orient Journeys
				.content
					p A very warm welcome to Ancient Orient Journeys! We are a young and vibrant Asian travel company with a difference. Our travel market is the former Orient of Indo-China. We are tour specialists for Vietnam, Cambodia, Laos and Thailand. You deal and book direct with our head office in Ho Chi Minh City. If you need more information, our UK office will be delighted to assist.
		.welcome-img
			img(src="img/home/img1.png", alt="")
section.home-tour
	.container
		h2.home-title.text-center Design Tours
		.home-des.text-center Let us know where you want to visit and what you want to see and do
	.hot-tour
		.row.no-gutters.justify-content-center
			.col-12.col-md-6.col-lg-4.col-xl
				a.tour(href="#!")
					figure
						.tour-img(style="background:url(img/tour/1.jpg) center center no-repeat;background-size: cover")
						figcaption
							h3.tour-name Con Dao Weekend Escape
							time 2 days - 1 night by private John
			.col-12.col-md-6.col-lg-4.col-xl
				a.tour(href="#!")
					figure
						.tour-img(style="background:url(img/tour/2.jpg) center center no-repeat;background-size: cover")
						figcaption
							h3.tour-name Con Dao Weekend Escape
							time 2 days - 1 night by private John
			.col-12.col-md-6.col-lg-4.col-xl
				a.tour(href="#!")
					figure
						.tour-img(style="background:url(img/tour/3.jpg) center center no-repeat;background-size: cover")
						figcaption
							h3.tour-name Con Dao Weekend Escape
							time 2 days - 1 night by private John
			.col-12.col-md-6.col-lg-6.col-xl
				a.tour(href="#!")
					figure
						.tour-img(style="background:url(img/tour/4.jpg) center center no-repeat;background-size: cover")
						figcaption
							h3.tour-name Con Dao Weekend Escape
							time 2 days - 1 night by private John
			.col-12.col-md-12.col-lg-6.col-xl
				a.tour(href="#!")
					figure
						.tour-img(style="background:url(img/tour/5.jpg) center center no-repeat;background-size: cover")
						figcaption
							h3.tour-name Con Dao Weekend Escape
							time 2 days - 1 night by private John
section.home-news
	.container
		h2.home-title.text-center News
		.home-des.text-center Latest News Headlines & Live Updates from AO Journeys
		.news-list
			.row
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/home/news1.jpg", alt="")
							figcaption
								h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
								time 23 March 2018
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/home/news2.jpg", alt="")
							figcaption
								h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
								time 23 March 2018
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/home/news3.jpg", alt="")
							figcaption
								h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
								time 23 March 2018
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/home/news4.jpg", alt="")
							figcaption
								h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
								time 23 March 2018
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/home/news5.jpg", alt="")
							figcaption
								h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
								time 23 March 2018
				article.col-12.col-md-6.col-lg-4
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/home/news6.jpg", alt="")
							figcaption
								h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
								time 23 March 2018
section.home-feedback
	.container
		.feedback-wrap
			.feedback-list.feedback-slide
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!") Read more
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!") Read more
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!") Read more
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!") Read more
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!") Read more
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!") Read more
			.feedback-nav.feedback-slide
				.item
					.author-img
						img(src="img/author/1.jpg", alt="")
				.item
					.author-img
						img(src="img/author/2.jpg", alt="")
				.item
					.author-img
						img(src="img/author/3.jpg", alt="")
				.item
					.author-img
						img(src="img/author/4.jpg", alt="")
				.item
					.author-img
						img(src="img/author/5.jpg", alt="")
				.item
					.author-img
						img(src="img/author/6.jpg", alt="")
			.feedback-author.feedback-slide
				.item
					.author-name 
						strong Charlie Pull 
						|- Canada
				.item
					.author-name 
						strong Danien Hauler 
						|- Canning River
				.item
					.author-name 
						strong Eileen 
						|- Canning River
				.item
					.author-name 
						strong Jackie Chan 
						|- Franch
				.item
					.author-name 
						strong Johnathan Jam 
						|- California
				.item
					.author-name 
						strong Danien Hauler 
						|- Canning River
		//- .partner-list.partner-slick
			.item
				a.partner(href="#!")
					img(src="img/partner/1.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/partner/2.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/partner/3.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/partner/4.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/partner/5.png", alt="")