section.breadcrumb-wrap
	.breadcrumb-img(style="background:url(img/breadcrumb/2.jpg) no-repeat center center;background-size: cover")
	.container
		h1.pagename
		ol.breadcrumb
			li
				a(href="#!")
					span Home
			li
				a(href="#!")
					span News
section.news-page
	.container
		h2.home-title.text-center Hot News
		.hot-news
			.row.no-gutters
				article.col-12.col-lg-8
					a.news-col.big(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
								time 23 March 2018
				.col-12.col-lg-4
					.row.no-gutters
						article.col-12.col-md-6.col-lg-12
							a.news-col(href="#!")
								figure
									.news-img
										img(src="img/news/2.jpg", alt="")
									figcaption
										h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
										time 23 March 2018
						article.col-12.col-md-6.col-lg-12
							a.news-col(href="#!")
								figure
									.news-img
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
										time 23 March 2018
		.row
			.col-12.col-lg-8.col-xl-9
				section.news-group
					h2.home-title 
						a(href="#!") News
					.news-list
						.row
							article.col-12
								a.news-col.big(href="#!")
									figure
										.news-img
											img(src="img/news/4.jpg", alt="")
										figcaption
											h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
											time 23 March 2018
											.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sed accusantium voluptate id velit reiciendis, assumenda repellendus dolorum ipsam deserunt ratione. Ipsam a error, quas exercitationem natus quaerat pariatur eum!
							article.col-12.col-md-6
								a.news-col(href="#!")
									figure
										.news-img
											img(src="img/news/5.jpg", alt="")
										figcaption
											h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
											time 23 March 2018
											//- .news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae natus libero laborum magni quisquam. Eum impedit iusto debitis maxime?
							article.col-12.col-md-6
								a.news-col(href="#!")
									figure
										.news-img
											img(src="img/news/6.jpg", alt="")
										figcaption
											h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
											time 23 March 2018
											//- .news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae natus libero laborum magni quisquam. Eum impedit iusto debitis maxime?
							article.col-12.col-md-6
								a.news-col(href="#!")
									figure
										.news-img
											img(src="img/news/7.jpg", alt="")
										figcaption
											h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
											time 23 March 2018
											//- .news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae natus libero laborum magni quisquam. Eum impedit iusto debitis maxime?
							article.col-12.col-md-6
								a.news-col(href="#!")
									figure
										.news-img
											img(src="img/news/1.jpg", alt="")
										figcaption
											h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
											time 23 March 2018
											//- .news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae natus libero laborum magni quisquam. Eum impedit iusto debitis maxime?
				section.news-group
					h2.home-title 
						a(href="#!") Events
					.news-list
						.row
							article.col-12
								a.news-col.big(href="#!")
									figure
										.news-img
											img(src="img/news/2.jpg", alt="")
										figcaption
											h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
											time 23 March 2018
											.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sed accusantium voluptate id velit reiciendis, assumenda repellendus dolorum ipsam deserunt ratione. Ipsam a error, quas exercitationem natus quaerat pariatur eum!
							article.col-12.col-md-6
								a.news-col(href="#!")
									figure
										.news-img
											img(src="img/news/3.jpg", alt="")
										figcaption
											h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
											time 23 March 2018
											//- .news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae natus libero laborum magni quisquam. Eum impedit iusto debitis maxime?
							article.col-12.col-md-6
								a.news-col(href="#!")
									figure
										.news-img
											img(src="img/news/4.jpg", alt="")
										figcaption
											h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
											time 23 March 2018
											//- .news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae natus libero laborum magni quisquam. Eum impedit iusto debitis maxime?
							article.col-12.col-md-6
								a.news-col(href="#!")
									figure
										.news-img
											img(src="img/news/5.jpg", alt="")
										figcaption
											h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
											time 23 March 2018
											//- .news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae natus libero laborum magni quisquam. Eum impedit iusto debitis maxime?
							article.col-12.col-md-6
								a.news-col(href="#!")
									figure
										.news-img
											img(src="img/news/6.jpg", alt="")
										figcaption
											h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
											time 23 March 2018
											//- .news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quae natus libero laborum magni quisquam. Eum impedit iusto debitis maxime?
			.col-12.col-lg-4.col-xl-3
				.sidebar-news
					.small-title Popular post
					.post-list
						a.post(href="#!")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Visit a national park
									time 23/04/18
						a.post(href="#!")
							figure
								.post-img
									img(src="img/news/2.jpg", alt="")
								figcaption
									.post-name Son Doong cave expedition
									time 23/04/18
						a.post(href="#!")
							figure
								.post-img
									img(src="img/news/3.jpg", alt="")
								figcaption
									.post-name Visit United Kingdom
									time 23/04/18
						a.post(href="#!")
							figure
								.post-img
									img(src="img/news/4.jpg", alt="")
								figcaption
									.post-name A trip to Singapore
									time 23/04/18
						a.post(href="#!")
							figure
								.post-img
									img(src="img/news/5.jpg", alt="")
								figcaption
									.post-name Travel around China
									time 23/04/18
						a.post(href="#!")
							figure
								.post-img
									img(src="img/news/6.jpg", alt="")
								figcaption
									.post-name Visit a national park
									time 23/04/18
						a.post(href="#!")
							figure
								.post-img
									img(src="img/news/7.jpg", alt="")
								figcaption
									.post-name Son Doong cave expedition
									time 23/04/18
						a.post(href="#!")
							figure
								.post-img
									img(src="img/news/8.jpg", alt="")
								figcaption
									.post-name Visit United Kingdom
									time 23/04/18
						a.post(href="#!")
							figure
								.post-img
									img(src="img/news/9.jpg", alt="")
								figcaption
									.post-name A trip to Singapore
									time 23/04/18
						a.post(href="#!")
							figure
								.post-img
									img(src="img/news/4.jpg", alt="")
								figcaption
									.post-name Travel around China
									time 23/04/18
				.sidebar-gallery
					.small-title Popular post
					.gallery
						a.gallery-img(href="img/news/1.jpg" data-fancybox="album1" style="background: url(img/news/1.jpg) center center no-repeat;background-size: cover")
						a.gallery-img(href="img/news/1.jpg" data-fancybox="album1" style="background: url(img/news/2.jpg) center center no-repeat;background-size: cover")
						a.gallery-img(href="img/news/1.jpg" data-fancybox="album1" style="background: url(img/news/3.jpg) center center no-repeat;background-size: cover")
						a.gallery-img(href="img/news/1.jpg" data-fancybox="album1" style="background: url(img/news/4.jpg) center center no-repeat;background-size: cover")
						a.gallery-img(href="img/news/1.jpg" data-fancybox="album1" style="background: url(img/news/5.jpg) center center no-repeat;background-size: cover")
						a.gallery-img(href="img/news/1.jpg" data-fancybox="album1" style="background: url(img/news/6.jpg) center center no-repeat;background-size: cover")
						a.gallery-img(href="img/news/1.jpg" data-fancybox="album1" style="background: url(img/news/7.jpg) center center no-repeat;background-size: cover")
						a.gallery-img(href="img/news/1.jpg" data-fancybox="album1" style="background: url(img/news/8.jpg) center center no-repeat;background-size: cover")
						a.gallery-img(href="img/news/1.jpg" data-fancybox="album1" style="background: url(img/news/9.jpg) center center no-repeat;background-size: cover")