section.banner-wrap
	.page-banner
		.item
			.img
				img(src="img/vietnam/bn1.jpg", alt="")
		//- .item
		//- 	.img
		//- 		img(src="img/vietnam/bn2.jpg", alt="")
		//- .item
		//- 	.img
		//- 		img(src="img/vietnam/bn3.jpg", alt="")
		//- .item
		//- 	.img
		//- 		img(src="img/vietnam/bn4.jpg", alt="")
	.page-name-wrap
		.container
			h1.page-name Ha Noi Cooking Class
			time 20/07/2018
section.news-page
	.container
		.news-content
			.content
				p Great photography is an art form. So when you start considering beautiful imagery as a key component of a great design, your website will naturally become a work of art. 2014 has witnessed new stream of web design that places a strong emphasis on striking imagery which becomes the main focus of the website, commonly in the form of big background images.
				.quote
					p Eat like a local during this half-day street food and market tour in Hanoi. Wandering around Hanoi's Old Quarter, sample Vietnamese foods, and learn about Hanoi's rich culinary culture. Then you’ll enjoy a fun, easy to follow Vietnamese cooking class.
					.author  Dr. David Joe
				p The class will be started with a tour to the Vietnamese market, Hang Be market. Thus, foods are carefully selected by the sellers right from the very first stages. You can select food as ingredients by themselves and be explained on what is key for a good dish and food hygiene safety. Also, you will be shown different kinds of mint vegetables and guided how to differentiate those kinds of mint vegetables through smelling.
				p After be back to the ancient house for an instruction on preliminary treatment and soaking, you’ll be practiced on actual cooking. You will be instructed to cook the dishes you chose and after the cooking, you will be able to taste the steaming hot dishes made by yourselves and feel the happiness of achievements. At the end of the meal, the owner of the house will talk in person with you, introducing about himself, about the house, the ancient quarters and traditional dishes of the original Hanoians. The dishes introduced in the program are traditional ones preserved only by the original Hanoians. 
			.share Share
				a.fa.fa-facebook(href="#!")
				a.fa.fa-twitter(href="#!")
				a.fa.fa-google-plus(href="#!")
				a.fa.fa-youtube-play(href="#!")
		section.other-news
			h2.home-title.text-center Related News
			.news-list
				.row
					article.col-12.col-md-6.col-lg-4
						a.news-col(href="#!")
							figure
								.news-img
									img(src="img/home/news1.jpg", alt="")
								figcaption
									h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
									time 23 March 2018
					article.col-12.col-md-6.col-lg-4
						a.news-col(href="#!")
							figure
								.news-img
									img(src="img/home/news2.jpg", alt="")
								figcaption
									h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
									time 23 March 2018
					article.col-12.col-md-6.col-lg-4
						a.news-col(href="#!")
							figure
								.news-img
									img(src="img/home/news3.jpg", alt="")
								figcaption
									h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
									time 23 March 2018
					article.col-12.col-md-6.col-lg-4
						a.news-col(href="#!")
							figure
								.news-img
									img(src="img/home/news4.jpg", alt="")
								figcaption
									h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
									time 23 March 2018
					article.col-12.col-md-6.col-lg-4
						a.news-col(href="#!")
							figure
								.news-img
									img(src="img/home/news5.jpg", alt="")
								figcaption
									h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
									time 23 March 2018
					article.col-12.col-md-6.col-lg-4
						a.news-col(href="#!")
							figure
								.news-img
									img(src="img/home/news6.jpg", alt="")
								figcaption
									h3.news-name Lorem ipsum dolor sit amet, adipisicing elit
									time 23 March 2018