section.breadcrumb-wrap
	.breadcrumb-img(style="background:url(img/breadcrumb/2.jpg) no-repeat center center;background-size: cover")
	.container
		h1.pagename
		ol.breadcrumb
			li
				a(href="#!")
					span Home
			li
				a(href="#!")
					span Support
			li
				a(href="#!")
					span Frequently asked question
section.support-page
	.container
		.row
			.col-12.col-lg-8.col-xl-9
				.faq-list
					.faq.active
						.faq-title I use RANDOM.ORG a lot. How can I show my appreciation?
						.faq-content(style="display:block")
							.content
								p Quisque imperdiet est eu arcu dapibus, sed sodales lectus tincidunt. Nulla vitae felis eu augue gravida imperdiet. Nullam tempor ante purus, vitae scelerisque nunc feugiat ut. Maecenas faucibus tellus vitae tellus sodales, ut pretium augue placerat. Vestibulum nulla tellus, faucibus sed nunc a, suscipit suscipit ante. Nunc vitae nisl ac risus accumsan blandit eget sit amet odio. Mauris dolor magna, tempor at mollis ac, porta non erat.
								p Ut at finibus sem, quis volutpat nibh. Pellentesque id eleifend felis. Aliquam erat volutpat. Sed in enim urna. Morbi luctus suscipit ante non hendrerit. Donec euismod mollis libero, eu consectetur sem consequat ac. Aliquam aliquam nulla non justo condimentum fringilla. Suspendisse in justo id nunc molestie varius non nec lacus.
					.faq
						.faq-title Is the source code for the generator available?
						.faq-content
							.content
								p Quisque imperdiet est eu arcu dapibus, sed sodales lectus tincidunt. Nulla vitae felis eu augue gravida imperdiet. Nullam tempor ante purus, vitae scelerisque nunc feugiat ut. Maecenas faucibus tellus vitae tellus sodales, ut pretium augue placerat. Vestibulum nulla tellus, faucibus sed nunc a, suscipit suscipit ante. Nunc vitae nisl ac risus accumsan blandit eget sit amet odio. Mauris dolor magna, tempor at mollis ac, porta non erat.
								//- p Ut at finibus sem, quis volutpat nibh. Pellentesque id eleifend felis. Aliquam erat volutpat. Sed in enim urna. Morbi luctus suscipit ante non hendrerit. Donec euismod mollis libero, eu consectetur sem consequat ac. Aliquam aliquam nulla non justo condimentum fringilla. Suspendisse in justo id nunc molestie varius non nec lacus.
					.faq
						.faq-title Can I download the generator software and run it on my own computer?
						.faq-content
							.content
								p Quisque imperdiet est eu arcu dapibus, sed sodales lectus tincidunt. Nulla vitae felis eu augue gravida imperdiet. Nullam tempor ante purus, vitae scelerisque nunc feugiat ut. Maecenas faucibus tellus vitae tellus sodales, ut pretium augue placerat. Vestibulum nulla tellus, faucibus sed nunc a, suscipit suscipit ante. Nunc vitae nisl ac risus accumsan blandit eget sit amet odio. Mauris dolor magna, tempor at mollis ac, porta non erat.
								p Ut at finibus sem, quis volutpat nibh. Pellentesque id eleifend felis. Aliquam erat volutpat. Sed in enim urna. Morbi luctus suscipit ante non hendrerit. Donec euismod mollis libero, eu consectetur sem consequat ac. Aliquam aliquam nulla non justo condimentum fringilla. Suspendisse in justo id nunc molestie varius non nec lacus.
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet minus praesentium hic et, mollitia nobis deleniti voluptates perferendis. Quis, exercitationem!
					.faq
						.faq-title Could someone affect the numbers by broadcasting a radio signal?
						.faq-content
							.content
								p Quisque imperdiet est eu arcu dapibus, sed sodales lectus tincidunt. Nulla vitae felis eu augue gravida imperdiet. Nullam tempor ante purus, vitae scelerisque nunc feugiat ut. Maecenas faucibus tellus vitae tellus sodales, ut pretium augue placerat. Vestibulum nulla tellus, faucibus sed nunc a, suscipit suscipit ante. Nunc vitae nisl ac risus accumsan blandit eget sit amet odio. Mauris dolor magna, tempor at mollis ac, porta non erat.
								p Ut at finibus sem, quis volutpat nibh. Pellentesque id eleifend felis. Aliquam erat volutpat. Sed in enim urna. Morbi luctus suscipit ante non hendrerit. Donec euismod mollis libero, eu consectetur sem consequat ac. Aliquam aliquam nulla non justo condimentum fringilla. Suspendisse in justo id nunc molestie varius non nec lacus.
								ul
									li Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, fugit.
									li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor neque unde autem eligendi, minus iure.
									li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero.
					.faq
						.faq-title Will RANDOM.ORG be around in X years?
						.faq-content
							.content
								//- p Quisque imperdiet est eu arcu dapibus, sed sodales lectus tincidunt. Nulla vitae felis eu augue gravida imperdiet. Nullam tempor ante purus, vitae scelerisque nunc feugiat ut. Maecenas faucibus tellus vitae tellus sodales, ut pretium augue placerat. Vestibulum nulla tellus, faucibus sed nunc a, suscipit suscipit ante. Nunc vitae nisl ac risus accumsan blandit eget sit amet odio. Mauris dolor magna, tempor at mollis ac, porta non erat.
								p Ut at finibus sem, quis volutpat nibh. Pellentesque id eleifend felis. Aliquam erat volutpat. Sed in enim urna. Morbi luctus suscipit ante non hendrerit. Donec euismod mollis libero, eu consectetur sem consequat ac. Aliquam aliquam nulla non justo condimentum fringilla. Suspendisse in justo id nunc molestie varius non nec lacus.
					.faq
						.faq-title Does RANDOM.ORG perform custom jobs that require randomness?
						.faq-content
							.content
								p Quisque imperdiet est eu arcu dapibus, sed sodales lectus tincidunt. Nulla vitae felis eu augue gravida imperdiet. Nullam tempor ante purus, vitae scelerisque nunc feugiat ut. Maecenas faucibus tellus vitae tellus sodales, ut pretium augue placerat. Vestibulum nulla tellus, faucibus sed nunc a, suscipit suscipit ante. Nunc vitae nisl ac risus accumsan blandit eget sit amet odio. Mauris dolor magna, tempor at mollis ac, porta non erat.
								//- p Ut at finibus sem, quis volutpat nibh. Pellentesque id eleifend felis. Aliquam erat volutpat. Sed in enim urna. Morbi luctus suscipit ante non hendrerit. Donec euismod mollis libero, eu consectetur sem consequat ac. Aliquam aliquam nulla non justo condimentum fringilla. Suspendisse in justo id nunc molestie varius non nec lacus.
					.faq
						.faq-title I seem not to be receiving emails from RANDOM.ORG. What is wrong?
						.faq-content
							.content
								p Quisque imperdiet est eu arcu dapibus, sed sodales lectus tincidunt. Nulla vitae felis eu augue gravida imperdiet. Nullam tempor ante purus, vitae scelerisque nunc feugiat ut. Maecenas faucibus tellus vitae tellus sodales, ut pretium augue placerat. Vestibulum nulla tellus, faucibus sed nunc a, suscipit suscipit ante. Nunc vitae nisl ac risus accumsan blandit eget sit amet odio. Mauris dolor magna, tempor at mollis ac, porta non erat.
								p Ut at finibus sem, quis volutpat nibh. Pellentesque id eleifend felis. Aliquam erat volutpat. Sed in enim urna. Morbi luctus suscipit ante non hendrerit. Donec euismod mollis libero, eu consectetur sem consequat ac. Aliquam aliquam nulla non justo condimentum fringilla. Suspendisse in justo id nunc molestie varius non nec lacus.
			.col-12.col-lg-4.col-xl-3
				.send-mess
					.module-title Send message
					.form-wrap
						.form-group
							label Name
							input(type="text")
						.form-group
							label Email
							input(type="email")
						.form-group
							label Message
							textarea(name="", cols="30", rows="3")
						.frm-btn
							input(type="submit", value="Send")