section.breadcrumb-wrap
	.breadcrumb-img(style="background:url(img/breadcrumb/2.jpg) no-repeat center center;background-size: cover")
	.container
		h1.pagename
		ol.breadcrumb
			li
				a(href="#!")
					span Home
			li
				a(href="#!")
					span Testimonial
section.home-feedback
	.container
		.feedback-wrap
			.feedback-list.feedback-slide
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!" data-toggle="modal" data-target="#exampleModal") Read more
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!" data-toggle="modal" data-target="#exampleModal") Read more
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!" data-toggle="modal" data-target="#exampleModal") Read more
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!" data-toggle="modal" data-target="#exampleModal") Read more
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!" data-toggle="modal" data-target="#exampleModal") Read more
				.item
					.feedback-content “ We have never been to Vietnam, so we decided to go on a tour to make it easier in organizing our tours. We have contacted AO Journeys and they offered us a very attractive tour package at reasonable price. ”
					.feedback-button
						a.btn-readmore(href="#!" data-toggle="modal" data-target="#exampleModal") Read more
			.feedback-nav.feedback-slide
				.item
					.author-img
						img(src="img/author/1.jpg", alt="")
				.item
					.author-img
						img(src="img/author/2.jpg", alt="")
				.item
					.author-img
						img(src="img/author/3.jpg", alt="")
				.item
					.author-img
						img(src="img/author/4.jpg", alt="")
				.item
					.author-img
						img(src="img/author/5.jpg", alt="")
				.item
					.author-img
						img(src="img/author/6.jpg", alt="")
			.feedback-author.feedback-slide
				.item
					.author-name 
						strong Charlie Pull 
						|- Canada
				.item
					.author-name 
						strong Danien Hauler 
						|- Canning River
				.item
					.author-name 
						strong Eileen 
						|- Canning River
				.item
					.author-name 
						strong Jackie Chan 
						|- Franch
				.item
					.author-name 
						strong Johnathan Jam 
						|- California
				.item
					.author-name 
						strong Danien Hauler 
						|- Canning River
		//- .partner-list.partner-slick
			.item
				a.partner(href="#!")
					img(src="img/partner/1.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/partner/2.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/partner/3.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/partner/4.png", alt="")
			.item
				a.partner(href="#!")
					img(src="img/partner/5.png", alt="")
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.modal-testimonial(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Charlie Pull
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
			.modal-body
				.content
					p Great photography is an art form. So when you start considering beautiful imagery as a key component of a great design, your website will naturally become a work of art. 2014 has witnessed new stream of web design that places a strong emphasis on striking imagery which becomes the main focus of the website, commonly in the form of big background images.
					.quote
						p Eat like a local during this half-day street food and market tour in Hanoi. Wandering around Hanoi's Old Quarter, sample Vietnamese foods, and learn about Hanoi's rich culinary culture. Then you’ll enjoy a fun, easy to follow Vietnamese cooking class.
						.author  Dr. David Joe
					p The class will be started with a tour to the Vietnamese market, Hang Be market. Thus, foods are carefully selected by the sellers right from the very first stages. You can select food as ingredients by themselves and be explained on what is key for a good dish and food hygiene safety. Also, you will be shown different kinds of mint vegetables and guided how to differentiate those kinds of mint vegetables through smelling.
					p After be back to the ancient house for an instruction on preliminary treatment and soaking, you’ll be practiced on actual cooking. You will be instructed to cook the dishes you chose and after the cooking, you will be able to taste the steaming hot dishes made by yourselves and feel the happiness of achievements. At the end of the meal, the owner of the house will talk in person with you, introducing about himself, about the house, the ancient quarters and traditional dishes of the original Hanoians. The dishes introduced in the program are traditional ones preserved only by the original Hanoians. 
